<h1>당신의 코딩실력은?!?!</h1>

<img id = "test", src= "<%=image_path("coding.jpg")%>">
<br>
<form action ="/home/result">
    이름을 입력해주세요!
    <input type = "text" name ="username"> 
    <input type = "submit" value= "클릭하세요!"><br>
</form>